.atencao{
	padding: 20px;
	color: white;
	font-size: 18px;
}

.balao{

	padding: 10px;
    background: rgb(45, 81, 241);
    border-radius: 6px;
    width: 200px;
    height: 50px;
    position: relative;
}
.balao:after{

    content: "";

    width: 0;
    height: 0;

    position: absolute;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(45, 81, 241);

    bottom: -10px;
    left: 20%;
}

.flutua{
	display: none;
	margin-top: 188px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 1;
}