.alerta {
	padding: 10px;
	border: 1px solid white;
	border-radius: 3px;
	margin-left: 85px;
	font-size: 18px;
	display: inline-block;
	position: absolute;
}

.sucesso {
	border-color: #87c940;
	color: #FFF;
	background-color: #a0d468;
}

.atencao {
	border-color: #f4a911;
	color: #FFF;
	background-color: black;
}
