@font-face {
    font-family: Roboto;
    src: url('../font/Roboto-Regular.ttf');
}

body{
   font-family: Roboto;

}

.wrapper{
   margin: 40px;
   position: absolute;
   width: 900px;
   left: 50%;
   transform: translate(-50%);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
   border-radius: 10px 10px;
}


.input-group{
    position: relative;
    left:300px;
    top: -200px;        
    margin: 40px;
}

input#radio{
	display: block;
	margin: 5px;
	padding: 10px;
	width: 20px;
}

table{
	color: #999;
	font-size: 18px;
}

td{
    padding-right: 30px;
    text-align: center;
}

input{
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: 1px solid  rgba(0,0,0,0.2);
	background: transparent;
	color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.questao{
    width: 500px;
}

.input:focus{
	outline: none;
}

label{
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events:none;
	left: 10px;
	top: 10px;
	transition: 0.4s all;
}

input:focus ~ label,
input:valid ~ label,
input:read-only ~ label{
   top: -20px;
   font-size: 14px;
   color: #f11f76;
}



a#botao{
	font-size: 14px;
	text-decoration: none;
	padding: 10px 35px;
	position: absolute;
	margin-left: 80%;
	margin-top: -150px;
	border-radius: 50px;
	font-family: Roboto;
	display: inline-block;
	letter-spacing: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	color:#999;
	font-family: Roboto;
	transition: 0.4s;
	
}

a#botao:hover{
	font-size: 18px;
}

a#botao2{
	font-size: 14px;
	text-decoration: none;
	padding: 10px 35px;
	position: absolute;
	margin-left: 75%;
	margin-top: -100px;
	border-radius: 50px;
	font-family: Roboto;
	display: inline-block;
	letter-spacing: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	color:#999;
	font-family: Roboto;
	transition: 0.4s;
	
}

a#botao2:hover{
	font-size: 18px;
}

input#enviar{
	font-size: 14px;
	text-decoration: none;
	padding: 10px 35px;
	margin-top: -180px;
	margin-left: 70%;
	border-radius: 50px;
	font-family: Roboto;
	display: inline-block;
	position: absolute;
	letter-spacing: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	color:#999;
	font-family: Roboto;
	transition: 0.4s;

}

input#enviar:hover{
	padding: 10px 25px;
	font-size: 18px;
}

.material-icons.md-dark{
   color: rgb(0,0,0);
   font-size: 90px;
   position: relative;
   
}

.material-icons.md-light{
   color: rgb(255,255,255);
   font-size: 90px;
   position: relative;
   
}

.align-center{
   text-align:center;
   
}

.texto-claro{
   color:white;
}



.card {
   /* Efeito de sombra no card */
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   display: inline-block;
   margin-left: 25px;
   transition: 0.3s;
   margin-top: 30px;
   border-radius: 10px 10px;
 }
 
 /* On mouse-over, add a deeper shadow */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5)
 }
 /* Add some padding inside the card container */
 .container {
   padding: 2px 16px;
 }

img{
       position: relative;
       left: 0px;
       transition: 0.4s;
}

.questoes{
	position: relative;
	margin-left: 40px;
}

.quest{
	margin-top: -15px;
}

.resp{
	position: relative;
	margin-left: 50px;
	margin-top: -20px;
}
.botoes{
	position: relative;
	margin-bottom: 100px;
	left: -40px;
}