@font-face {
    font-family: Roboto;
    src: url('../font/Roboto-Regular.ttf');
}

body{
   font-family: Roboto;

}

.wrapper{
   margin: 40px;
   position: absolute;
   width: 900px;
   left: 50%;
   transform: translate(-50%);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
   border-radius: 10px 10px;
}

.titulo{
   text-align: center;
}

.card {
   /* Efeito de sombra no card */
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   display: inline-block;
   margin: 20px auto 0 100px;
   transition: 0.3s;
	 border-radius: 10px 10px;
 }
 
 /* On mouse-over, add a deeper shadow */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5)
 }
 /* Add some padding inside the card container */
 .container {
   padding: 2px 16px;
 }

img{
       position: relative;
       left: 0px;
       transition: 0.4s;
}

.botoes{
	left: 50%;
	position: ralative;
	display: block;
	margin: 30px auto 30px 390px;
	
}

.abotao{
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 35px;
	border-radius: 50px;
	color:#999;
	text-decoration: none;
	transition: 0.4s;
}

.abotao:hover{
	font-size: 18px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

input#enviar{
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 35px;
	border-radius: 50px;
	color:#999;
	text-decoration: none;
	transition: 0.4s;
	position: absolute;

}