@font-face {
    font-family: Roboto;
    src: url('../font/Roboto-Regular.ttf');
}

body{
   font-family: Roboto;
   color: rgba(0,0,0,0.5);
   text-align: center;

}

.corpo{
    margin: 100px auto 50px auto;
    width: 900px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/*Formatação do menu*/
nav#menu ul{
   list-style: none;
   position: absolute;
   top: -10px;
   left: 250px;
      
}
nav#menu {
   display: block;
}
nav#menu li{
   font-size: 14px;
   display: inline-block;
   border: 1px solid rgba(0,0,0,0.2);
   padding: 10px 35px;
   border-radius: 50px;
   margin: 2px;
   transition: 0.4s;
}

nav#menu li:hover{
   font-size: 18px;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

nav#menu a{
   color:#999;
   text-decoration: none;
}

.sobre{
   font-size: 18px;
   padding: 50px;
}

img{
   height: 200px;

}

.enfase{
   font-weight: bold;
}