@font-face {
     font-family: Roboto;
     src: url('../font/Roboto-Regular.ttf');
}

body{
	font-family: Roboto;
	color: rgba(0,0,0,0.5);
	text-align: center;
	transition: 0.4s;

}

.corpo{
	width: 900px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/*Formatação do menu*/
nav#menu ul{
	list-style: none;
	position: absolute;
	top: -20px;
	
}
nav#menu {
	display: block;
	transform: translate(18%);
	left:50%;
}
nav#menu li{
	font-size: 14px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 35px;
	border-radius: 50px;
	margin: 2px;
	transition: 0.4s;
}

nav#menu li:hover{
	font-size: 18px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

nav#menu a{
	color:#999;
	text-decoration: none;
}

.nome-game{
	margin-top: 150px;
	font-size: 30px;
	transition: 0.4s;
}

.nome-game:hover{
	color:rgba(0,0,0,0.8);
}

.subtitle{
	margin-top: 150px;
}
