@font-face {
     font-family: Roboto;
     src: url('../font/Roboto-Regular.ttf');
}

body{
	font-family: Roboto;

}

.corpo{
	margin-top: -20px;
	position: absolute;
	width: 900px;
	left: 50%;
	transform: translate(-50%);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	border-radius: 10px 10px;
}

.material-icons.md-dark{
	color: rgb(0,0,0);
	font-size: 90px;
	position: relative;
	
}

.material-icons.md-light{
	color: rgb(255,255,255);
	font-size: 90px;
	position: relative;
	
}

.align-center{
	text-align:center;
	
}

.texto-claro{
	color:white;
}



.card {
	/* Efeito de sombra no card */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	display: inline-block;
	margin-left: 25px;
	transition: 0.3s;
	margin-top: 30px;
	border-radius: 10px 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5)
  }
  /* Add some padding inside the card container */
  .container {
	padding: 2px 16px;
  }

.vazio{
	position: relative;
	margin: 100px auto 100px 250px;
}


.card-corrida{
	position: relative;
	width: 800px;
	height: 50px;
	border-radius: 20px;
	margin: 20px auto auto 50px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-corrida figcaption{
	position: absolute;
	color: #999;
  font-size: 20pt;
	left: 300px;
	top: 10px;
}

.card-corrida img{
	position: absolute;
	
}

.botao{
	position: relative;
	display: inline-block;
	color:#999;
	text-decoration: none;
	font-size: 14px;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 35px;
	border-radius: 50px;
	margin: 30px;
	transition: 0.4s;
	left: 700px;
}

.botao:hover{
	font-size: 18px;
}