@font-face {
     font-family: Roboto;
     src: url('../font/Roboto-Regular.ttf');
}

body{
	font-family: Roboto;
}

.wrapper{
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	
}

h3{
	margin: 50px;
	color: #999;
}

.input-group{
	position: relative;
	margin: 40px;
}

input{
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: 1px solid  rgba(0,0,0,0.2);
	background: transparent;
	color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.input:focus{
	outline: none;
}

label{
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events:none;
	left: 10px;
	top: 10px;
	transition: 0.4s all;
}

input:focus ~ label,
input:valid ~ label{
	top: -20px;
	font-size: 14px;
	color: #f11f76;
}

input#enviar{
	font-size: 14px;
	text-decoration: none;
	padding: 10px 35px;
	margin-left: 40px;
	border-radius: 50px;
	font-family: Roboto;
	margin-top: 15px;
	display: inline-block;
	position: relative;
	letter-spacing: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	color:#999;
	font-family: Roboto;
	transition: 0.4s;
	width: 120px;
}

input#enviar:hover{
	padding: 10px 25px;
	font-size: 18px;
}
