.payment-methods {
    list-style: none;
    margin: 0;
    padding: 0;
       
  }
  
  .payment-methods:after {
    content: "";
    clear: both;
    
  }
  
  .payment-method {
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    position: relative;
    border-radius: 10px;
    height: 200px;
    width: 300px;
   
    
  }
  
  .payment-method + .payment-method {
    margin-left: 25px;
    
  }

  .payment-method label {
    background: transparent no-repeat center center;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    top: 1px;
    white-space: nowrap;   
    
    
  }
  
  .payment-methods input:focus + label {
    outline: 2px dotted #000000;
  }

  .payment-methods input:checked + label {
    outline: 4px solid #000000;
    border-radius: 30px;
  }

  .payment-methods input:checked + label:after {
    background: url(../img/checked.png);
    bottom: -10px;
    content: "";
    height: 35px;
    position: absolute;
    right: -10px;
    width: 35px;
    
    
  }

  input{
    display: none;
  }

h4{
  
  text-align: center;

}