@font-face {
    font-family: Roboto;
    src: url('../font/Roboto-Regular.ttf');
}

body{
   font-family: Roboto;

}

.wrapper{
   margin: 40px;
   position: absolute;
   width: 900px;
   height: 550px;;
   left: 50%;
   transform: translate(-50%);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
   border-radius: 10px 10px;
}


.input-group{
    position: relative;
    left:300px;
    top: -200px;        
    margin: 20px;
}

.descricao{
    position: relative;
    left:300px;
    top: -200px;        
    margin: 40px auto 30px 30px;
}

input#radio{
	display: block;
	margin: 5px;
	padding: 10px;
	width: 20px;
}

table{
	color: #999;
	font-size: 18px;
}

td{
    padding-right: 30px;
    text-align: center;
}

input{
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: 1px solid  rgba(0,0,0,0.2);
	background: transparent;
	color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.questao{
    width: 500px;
}

.input:focus{
	outline: none;
}

label{
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events:none;
	left: 10px;
	top: 10px;
	transition: 0.4s all;
}

input:focus ~ label,
input:valid ~ label,
input:read-only ~ label{
   top: -20px;
   font-size: 14px;
   color: #f11f76;
}

.material-icons.md-dark{
   color: rgb(0,0,0);
   font-size: 90px;
   position: relative;
   
}

.material-icons.md-light{
   color: rgb(255,255,255);
   font-size: 90px;
   position: relative;
   
}

.align-center{
   text-align:center;
   
}

.texto-claro{
   color:white;
}



.card {
   /* Efeito de sombra no card */
	 position: relative;
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 display: inline-block;
   	transition: 0.3s;
  	 margin: 10px auto 10px 30px;
	 border-radius: 10px 10px;
	
}

 
 /* On mouse-over, add a deeper shadow */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5)
 }
 /* Add some padding inside the card container */
 .container {
   padding: 2px 16px;
 }

a{
	font-size: 14px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 35px;
	border-radius: 50px;
	margin: 2px;
	transition: 0.4s;
	color:#999;
	text-decoration: none;
 }

a:hover{
	 font-size: 18px;
 }

.a{
	font-size: 14px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 35px;
	border-radius: 50px;
	margin: 2px;
	transition: 0.4s;
	color:#999;
	text-decoration: none;
	width: 150px;
 }

.a:hover{
	 font-size: 18px;
 }

 .segundos{
	 width: 80px;
 }