@font-face {
     font-family: Roboto;
     src: url('../font/Roboto-Regular.ttf');
}

body{
	font-family: Roboto;
}

input[type="date"]:required:invalid{
    color: transparent;
}

input[type="date"]:focus{
    color: rgba(0,0,0,0.5) !important;
}

.wrapper{
	margin-top: 60px;
	margin-bottom: 80px;
	width: 400px;
	
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.material-icons.md-36 { 
	font-size: 36px; 
}

.input-group{
	position: relative;
	margin-left: 40px;
	margin-top: 30px;
}

table{
	color: #999;
	font-size: 18px;
}


input#radio{
	display: block;
	width: 20px;
	margin-left: 50px;
}

label#radio{
	color: #999;
	font-size: 18px;
	position: relative;
	pointer-events:none;
	left: 170px;
}



input#cidade{
	width: 230px;
}

input#rua{
	width: 230px;
}

input#uf{
	width: 40px;
	position: absolute;
	left: 260px;
	top: -73px;
}

input#numero{
	width: 40px;
	position: absolute;
	left: 260px;
	top: -73px
}

input{
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: 1px solid #ddd;
	background: transparent;
	color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.input:focus{
	outline: none;
}

.select:focus{
	outline: none;
}

select:focus{
	background: rgba(0,0,0,1);
}

select{
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 315px;
	border: 1px solid #ddd;
	background: transparent;
	color: #fff;
	border-radius: 10px;
}

label#uf{
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events:none;
	left: 270px;
	top: -62px;
	transition: 0.4s all;
}

label#numero{
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events:none;
	left: 270px;
	top: -62px;
	transition: 0.4s all;
}

select:focus ~ label#uf,
select:valid ~ label#uf{
	top: -80px;
	font-size: 14px;
	color: #f11f76;
}

input:focus ~ label#uf,
input:valid ~ label#uf{
	top: -90px;
	font-size: 14px;
	color: #f11f76;
}

select:focus ~ label#numero,
select:valid ~ label#numero{
	top: -80px;
	font-size: 14px;
	color: #f11f76;
}

input:focus ~ label#numero,
input:valid ~ label#numero{
	top: -90px;
	font-size: 14px;
	color: #f11f76;
}

label{
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events:none;
	left: 10px;
	top: 10px;
	transition: 0.4s all;
}

select:focus ~ label,
select:valid ~ label{
	top: -20px;
	font-size: 14px;
	color: #f11f76;
}

input:focus ~ label,
input:valid ~ label{
	top: -20px;
	font-size: 14px;
	color: #f11f76;
}



a#botaoa{
	font-size: 14px;
	text-decoration: none;
	padding: 10px 35px;
	margin-left: 40px;
	margin-top: 30px;
	border-radius: 50px;
	margin-bottom: 20px;
	font-family: Roboto;
	display: inline-block;
	letter-spacing: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	color:#999;
	font-family: Roboto;
	transition: 0.4s;
	
}

a#botaoa:hover{
	font-size: 18px;
}

input#enviar{
	font-size: 14px;
	text-decoration: none;
	padding: 10px 35px;
	margin-left: 40px;
	border-radius: 50px;
	font-family: Roboto;
	margin-top: 15px;
	display: inline-block;
	position: relative;
	letter-spacing: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	color:#999;
	font-family: Roboto;
	transition: 0.4s;
	width: 155px;
}

input#enviar:hover{
	padding: 10px 25px;
	font-size: 18px;
}	

.material-icons.md-dark {
	margin-top: 20px;
	margin-left: 150px;
	font-size: 80px;
	display: inline-block;
	width: 300px;	
	background: transparent;
	color: rgba(0,0,0,0.6);
	transition: 0.4s;
	
}

.material-icons.md-light:hover{
	color: #f11f76;
	font-size: 85px;
}
/*Formatação do menu*/
nav#menu ul{
	list-style: none;
	position: absolute;
	top: -10px;
	left: 250px;
	   
 }
 nav#menu {
	display: block;
 }
 nav#menu li{
	font-size: 14px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 35px;
	border-radius: 50px;
	margin: 2px;
	transition: 0.4s;
 }
 
 nav#menu li:hover{
	font-size: 18px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
 }
 
 nav#menu a{
	color:#999;
	text-decoration: none;
 }
 
 .sobre{
	font-size: 18px;
	padding: 50px;
 }
 
 img{
	height: 200px;
 
 }
 
 .enfase{
	font-weight: bold;
 }

 div#curriculo{
	 display: none;
 }

 div#titulacao{
	display: none;
}

div#cpf{
	display: none;
}