@font-face {
     font-family: Roboto;
     src: url('../font/Roboto-Regular.ttf');
}

body{
	font-family: Roboto;
}

.wrapper{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	
}

.material-icons.md-36 { 
	font-size: 36px; 
}

.input-group{
	position: relative;
	margin: 40px;
}

input{
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: 1px solid  rgba(0,0,0,0.2);
	background: transparent;
	color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.input:focus{
	outline: none;
}

label{
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events:none;
	left: 10px;
	top: 10px;
	transition: 0.4s all;
}

input:focus ~ label,
input:valid ~ label{
	top: -20px;
	font-size: 14px;
	color: #f11f76;
}

a#recupera{
	position: relative;
	font-size: 10px;
	text-decoration: none;
	left: 68%;
	color: #999;
	transition: 0.4s all;
}

a#recupera:hover{
	color: rgb(167, 80, 80);
	font-size: 11px;
	left: 65%;
}

a#botao{
	font-size: 14px;
	text-decoration: none;
	padding: 10px 35px;
	margin-left: 40px;
	border-radius: 50px;
	font-family: Roboto;
	display: inline-block;
	letter-spacing: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	font-family: Roboto;
	transition: 0.4s all;
	
}

a#botao:hover{
	font-size: 18px;
}

input#enviar{
	font-size: 14px;
	text-decoration: none;
	padding: 10px 35px;
	margin-left: 40px;
	border-radius: 50px;
	font-family: Roboto;
	display: inline-block;
	position: relative;
	letter-spacing: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	color:#999;
	font-family: Roboto;
	width: 120px;
	transition: 0.4s all;
}

input#enviar:hover{
	padding: 10px 25px;
	font-size: 18px;
}

.material-icons.md-dark {
	margin-top: 20px;
	margin-left: 150px;
	font-size: 80px;
	display: inline-block;
	width: 300px;	
	background: transparent;
	color: rgba(0,0,0,0.6);
	
}

/*Formatação do menu*/
nav#menu ul{
	list-style: none;
	position: absolute;
	top: -10px;
	left: 250px;
	   
 }
 nav#menu {
	display: block;
 }
 nav#menu li{
	font-size: 14px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px 35px;
	border-radius: 50px;
	margin: 2px;
	transition: 0.4s;
 }
 
 nav#menu li:hover{
	font-size: 18px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
 }
 
 nav#menu a{
	color:#999;
	text-decoration: none;
 }
 
 .sobre{
	font-size: 18px;
	padding: 50px;
 }
 
 img{
	height: 200px;
 
 }
 
 .enfase{
	font-weight: bold;
 }